.panel {
  display: inline-block;
  width: 33%;
  height: 400px;
  background: lightblue;
  padding-top: 10px;
  border-radius: 5px;
}

.new-item-header {
  width: 100px;
  margin: auto;
  margin-bottom: 50px;
}

#newTaskForm {
  width: 300px;
  margin: auto;
  margin-bottom: 50px;
}

body {
  text-align: center;
}
